### RBAC for kubelet
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    rbac.authorization.kubernetes.io/autoupdate: "true"
  labels:
    kubernetes.io/bootstrapping: rbac-defaults
  name: system:kube-apiserver-to-kubelet
rules:
  - apiGroups:
      - ""
    resources:
      - nodes/proxy
      - nodes/stats
      - nodes/log
      - nodes/spec
      - nodes/metrics
    verbs:
      - "*"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: system:kube-apiserver
  namespace: ""
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:kube-apiserver-to-kubelet
subjects:
  - apiGroup: rbac.authorization.k8s.io
    kind: User
    name: kubernetes
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: default
  name: pod-reading
rules:
- apiGroups: [""] # "" indicates the core API group
  resources: ["pods", "pods/log"]
  verbs: ["get", "watch", "list"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: read-pods
  namespace: default
subjects:
- kind: User
  name: dulli
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: Role
  name: pod-reading
  apiGroup: rbac.authorization.k8s.io
---
### Adding default Resource Limits to default Namespace
apiVersion: v1
kind: LimitRange
metadata:
  name: cpu-mem-limits
  namespace: default
spec:
  limits:
  - min:
      memory: 128Mi
      cpu: 0.2
    defaultRequest:
      memory: 128Mi
      cpu: 0.2
    default:
      memory: 128Mi
      cpu: 0.5
    max:
      memory: 1Gi
      cpu: 1
    type: Container
