[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/bin/kube-controller-manager \
  --allocate-node-cidrs=false \
  --bind-address={{ ip }} \
  --cluster-cidr={{ pod_cidr }} \
  --cluster-name=Kubernetes \
  --cluster-signing-cert-file={{ k8s_certs }}/ca.pem \
  --cluster-signing-key-file={{ k8s_certs }}/ca-key.pem \
  --deployment-controller-sync-period=2s \
  --experimental-cluster-signing-duration=30m0s \
  --enable-garbage-collector=true \
  --kubeconfig={{ k8s_certs }}/kube-controller-manager.kubeconfig \
  --node-monitor-grace-period=6s \
  --pod-eviction-timeout=3s \
  --root-ca-file={{ k8s_certs }}/ca.pem \
  --service-account-private-key-file={{ k8s_certs }}/ca-key.pem \
  --service-cluster-ip-range={{ service_cidr }} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
