---

- name: insert Hostnames
  template:
    src: roles/vagrant/templates/hosts.j2
    dest: /etc/hosts
    owner: root
    group: root
    mode: 0644
  tags: [vagrant]

- name: Ensure the Hostname is set
  hostname:
    name: "{{ hostname }}"
  tags: [vagrant]

- name: Ensure bash aliases are set
  blockinfile:
    path: /root/.bashrc
    block: |
      ## ENVs ##
      red=`tput setaf 1`
      green=`tput setaf 2`
      yellow=`tput setaf 3`
      reset=`tput sgr0`
      
      alias ll="ls -lah"
      alias k="kubectl"
  tags: [vagrant]
