[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/bin/kube-proxy \
  --cluster-cidr={{ pod_cidr }} \
  --kubeconfig={{ kubelet_dir }}/{{ hostname }}.kubeconfig
  --proxy-mode=iptables \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target